@media print {
  body {
    background-color: transparent;
    color: black;
    font-family: Georgia, serif;
    font-size: 12pt;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  // Hidden
  .unsupported_browser,
  .main-navbar,
  .flash,
  .breadcrumb,
  .title-bar-actions,
  .panel-heading-actions,
  td .empty,
  .member_link,
  #index_footer,
  .pagination_information,
  .comments form,
  input[type=file],
  form .password,
  form .hidden,
  form .actions,
  #filters_sidebar_section,
  #footer {
    display: none;
  }

  // Content
  #active_admin_content {
    margin-top: 2em;
  }

  // Tables
  .table_tools {
    ul,
    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: none;
    }

    .scope.selected,
    .index.selected {
      display: block;
      margin-bottom: 1em;

      &:before {
        content: "Showing ";
      }

      a {
        font-weight: bold;
      }
    }
  }

  .badge {
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    vertical-align: baseline;

    &:before {
      content: "(";
    }

    &:after {
      content: ")";
    }
  }

  table {
    margin-bottom: 1.5em;
    text-align: left;
    width: 100%;

    tr {
      page-break-inside: avoid;
    }

    th {
      font-weight: bold;
    }

    th,
    td {
      border-bottom: 1px solid black;
      padding: 8px;
      vertical-align: top;
    }
  }

  // Show
  .panel {
    margin-bottom: 3em;
    padding-bottom: 2em;
    page-break-inside: avoid;
  }

  .active_admin_comment {
    padding: 1em 0;
  }

  .active_admin_comment_meta {
    margin-bottom: 0.7em;
  }

  // Attribute Tables
  .attributes_table {
    td {
      img {
        max-height: 4in;
        max-width: 6in;
      }
    }
  }

  // Forms
  fieldset {
    border: none;
    margin: 0 0 2em 0;
    padding: 2em 0 0 0;

    fieldset {
      border: 1px solid black;
      padding: 1em;
    }
  }

  form {
    ol,
    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li > label,
    .fragments > .label {
      font-weight: bold;
    }

    li {
      padding: 1em 0;

      abbr[title] {
        border-bottom: none;
        font-weight: normal;

        &:before {
          content: " (required)";
        }
      }
    }

    input,
    textarea,
    select {
      width: calc(100% - #{(12px * 2) + 2px});
    }
  }
}
